<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Service</title>
    <style>
      body {
        background-color: #03a791;
      }
    </style>
  </head>
  <body>
    <div style="text-align: center">
      <p>ecommerce website</p>
      <h2>Payment Service</h2>
      <p>microservice</p>
      <p>Server Hostname: <%= hostname %></p>
    </div>
  </body>
</html>
